*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .timeline-container {
    /* background-color: rgb(41, 46, 46); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    user-select: none;
    overflow-x: scroll;
    scrollbar-color:transparent transparent;
    overflow-y: visible;
    
    
  }
  
  .timeline{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    height: 90%;
    overflow-y: visible;
    width: 100%;
    position: relative;
    
    
  
  }

  .timeline .dot {
    position: absolute;
    top: 50%;
    transition: linear 0.6s;
    transform: translate(0,-48%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(163, 163, 25);
  }
  
  
  
  .timeline-item{
    height: 50%;
    width: 200px;
  /*TODO le rendre 100 px dans le media querry */
    flex-shrink: 0;
    
  }
  
  
  
  .timeline-item.top{
    /* background-color: red; */
    border-bottom: 5px solid white;
    box-sizing:content-box;
    padding-bottom:0 ;
   
  }
  
  .timeline-item.top .Timeline-content .connector{
    border-top-left-radius: 30px;  /* Coin inférieur gauche */
    border-top-right-radius: 30px; /* Coin inférieur droit */
  }
  
  
  
  
  
  .timeline-item.bottom{
    /* background-color: rgb(72, 136, 64); */
    align-self: self-end;
    border-top: 5px solid white;
  
  }
  
  
  .Timeline-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    
  }
  
  .timeline-item.top .Timeline-content{
    justify-content: end ;
  }
  
  
  
  
  
  .Timeline-content .connector {
    height: 30px;
    width: 3px;
    background-color: white;
    
    
  }
  
  .Timeline-content .label{
    /* background-color: rgb(158, 120, 120); */
    min-width: 100px;
    max-width: 200px;
    transform: translate(50%,0);
    display: flex;
    flex-direction: column;
  }

  .Timeline-content .label h1 {
    margin-left: auto;
    margin-right: auto;
  }

  .Timeline-content .label p {
    margin-left: auto;
    margin-right: auto;
  }
  
  .timeline-item.top  .Timeline-content .connector{
    order: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .timeline-item.bottom  .Timeline-content .connector{
   
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .timeline-item.top  .Timeline-content .label{
    order: 0;
  }
  
  .Timeline-content .label {
    color: white;
    gap: 14px;
  }
  
  .Timeline-content .label p{
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .timeline-item.top  .Timeline-content .label h1{
    order: 1;
    
    
  }
  
  
  .timeline-item.top  .Timeline-content .label p{
    order: 0;
    
  }

  .disactive_dot{
    display: none;
  }
  
  
  /** Media querie */
  
  @media (max-width:430px) {

    .timeline{
      height: 100%;
    }
    .timeline-item{
      width: 150px; /*!le pas du dot doit etre  150px */
    }
    .label{
      width:100%;
      height: 70%;
      
      margin-bottom: 10px;
      
    }
    
    .label h1{
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 9px;
      
      
    }

    .timeline-item.timeline-item.top .Timeline-content .label h1{
      padding-top: 10px;
    }

    .timeline-item.timeline-item.top .Timeline-content .label {
      height: 60%;
      
    }

    
    .label p{
      margin-left: auto;
      margin-right: auto;
      height: 40%;
      
      font-size: 14px;
  
    }
    .timeline-item.timeline-item.bottom .Timeline-content .label h1{
      height: 40%;
      padding-top: 4px;
    }
  
    .timeline-container{
      height: 70%;
    }
  }
  
  
  