.guest-item {
  background: none; /* No background */
}

.guest-slider {
  padding: 0 20px; /* Adjust as needed */
}

.guest-item img {
  border-radius: 15px; /* Slightly rounded corners */
}

.guest-item h3, 
.guest-item p {
  color: #333; /* Adjust text color as needed */
}

.guest-item a {
  color: white; /* LinkedIn name in white */
}

.guest-item a:hover {
  color: #0077b5; /* LinkedIn brand blue on hover */
}

.slick-dots li.slick-active button {
  background: white; /* Active dot color */
}

.slick-dots li button {
  background: gray; /* Inactive dot color */
  opacity: 0.5; /* Optional: Add some transparency */
}

.slick-dots li button:hover {
  background: white; /* Change to white on hover */
}